.homeTable{
    flex:6;
    
    .status{
        padding: 5px;
        border-radius: 5px;

        &.Approved{
            color: rgb(0, 149, 0);
            background-color: rgba(0, 255, 0, 0.237);
        }
        &.Pending{
            color: rgb(165, 119, 0);
            background-color: rgba(255, 255, 0, 0.231);
        }
        &.Reject{
            color: rgb(168, 0, 0);
            background-color: rgba(255, 0, 0, 0.267);
        }
    }

    .datagrid{
        height: 500px;
        box-shadow: 2px 2px 5px 1px rgb(206, 206, 206);
      }

      .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;
    
        .viewButton {
          padding: 2px 5px;
          border-radius: 5px;
          color: darkblue;
          border: 1px dotted rgba(0, 0, 139, 0.596);
          cursor: pointer;
        }
    }
}